<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        {% block title %}
        <title>v6后台管理系统</title>
        {% endblock %}
        {% block import %}
        {% endblock %}
    </head>
    <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
    </div>
    {% if request.user.is_authenticated %}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'upload' %}">上传图片</a></li>
              <li><a href="{% url 'ctrl' %}">管理图片</a></li>
            <li><a href="{% url 'logout' %}">登出</a></li>
          </ul>
        </div>
  {% endif %}
  </div>
</nav>

        {% block body %}
        {% endblock %}
        {% block footjs %}
        {% endblock %}
    </body>
</html>
