{% extends "base.html" %}
{% block title %}
  <title>管理图片</title>
{% endblock %}

{% block body %}
<form action="{% url 'ctrl'%}" method="post">{% csrf_token %}
    {% if msg %}
    <b><p style="color:red; font-size:20px">{{msg}}</p></b>
    {% endif %}
    <h3>顶部通知</h3>
    <table border="1" class="table table-bordered">
        <tr>
            <th>名称</th>
            <th>说明</th>
            <th>连接</th>
            <th>上传时间</th>
            <th>是否显示</th>
        </tr>
        {% for top in tp %}
        <tr>
            <td>{{ top.p_name }}</td>
            <td>{{ top.p_explain }}</td>
            <td>{{ top.p_href }}</td>
            <td>{{ top.p_uploaddate }}</td>
            <td><input type="checkbox" name={{ top.id }} {% if top.p_show %} checked="True"  {% endif %}/></td>
        </tr>
        {% endfor %}
    </table>

    <h3>顶部动画通知</h3>
    <table border="1" class="table table-bordered">
        <tr>
            <th>名称</th>
            <th>说明</th>
            <th>连接</th>
            <th>上传时间</th>
            <th>是否显示</th>
        </tr>
        {% for top_flash in tfp %}
        <tr>
            <td>{{ top_flash.p_name }}</td>
            <td>{{ top_flash.p_explain }}</td>
            <td>{{ top_flash.p_href }}</td>
            <td>{{ top_flash.p_uploaddate }}</td>
            <td><input type="checkbox" name={{ top_flash.id }} {% if top_flash.p_show %} checked="True"  {% endif %}/></td>
        </tr>
        {% endfor %}
    </table>

    <h3>中间推广</h3>
    <table border="1" class="table table-bordered">
        <tr>
            <th>名称</th>
            <th>说明</th>
            <th>连接</th>
            <th>上传时间</th>
            <th>显示顺序</th>
            <th>是否显示</th>
        </tr>
        {% for cen in cp_1 %}
        <tr>
            <td>{{ cen.p_name }}</td>
            <td>{{ cen.p_explain }}</td>
            <td>{{ cen.p_href }}</td>
            <td>{{ cen.p_uploaddate }}</td>
            <td>
                <select name="show_id_{{cen.id}}">
                    <option value="1" {% if cen.show_id == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if cen.show_id == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if cen.show_id == 3 %} selected {% endif %}>3</option>
                    <option value="4" {% if cen.show_id == 4 %} selected {% endif %}>4</option>
                    <option value="5" {% if cen.show_id == 5 %} selected {% endif %}>5</option>
                </select>
            </td>
            <td><input type="checkbox" name={{ cen.id }} {% if cen.p_show %} checked="True"  {% endif %}/></td>
        </tr>
        {% endfor %}
        {% for cen in cp_0 %}
        <tr>
            <td>{{ cen.p_name }}</td>
            <td>{{ cen.p_explain }}</td>
            <td>{{ cen.p_href }}</td>
            <td>{{ cen.p_uploaddate }}</td>
            <td>
                <select name="show_id_{{cen.id}}">
                    <option value="1" {% if cen.show_id == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if cen.show_id == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if cen.show_id == 3 %} selected {% endif %}>3</option>
                    <option value="4" {% if cen.show_id == 4 %} selected {% endif %}>4</option>
                    <option value="5" {% if cen.show_id == 5 %} selected {% endif %}>5</option>
                </select>
            </td>
            <td><input type="checkbox" name={{ cen.id }} {% if cen.p_show %} checked="True"  {% endif %}/></td>
        </tr>
        {% endfor %}
    </table>
    <input class="btn btn-danger" type="submit" value="确认修改" />
</form>
{% endblock %}
