{% extends "base.html" %}
{% block title %}
    <title>上传图片</title>
{% endblock %}

{% block body %}
<h3>上传图片</h3>
<div class="h3_bg"></div>
<div class="container">

    {% if msg %}
        <b><p style="color:red; font-size:20px">{{msg}}</p></b>
    {% endif %}

    <b><p style="color:red; font-size:20px">！图片名称请不要包含中文！</p></b>
    <b><p>{{form.errors}}</p></b>
    <div class="file-box">
        <form enctype="multipart/form-data" method="post" action="{% url 'upload'%}">
            {% csrf_token %}
            <div class="form-group">
                <label for="positionInput">显示位置:</label>
                <select name="position" class="form-control">
                    <option value="top">顶部通知</option>
                    <option value="top_flash">顶部动画通知</option>
                    <option value="center">中间推广</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="imageInput">请选择图片:</label>
                <input type="file" required id="id_image" class="file" name="image">
            </div>

            <div class="form-group">
                <label for="explainInput">图片说明:</label>
                <input type="text" required class="form-control" name="explain" id="explainInput" placeholder="请输入图片说明">
            </div>

            <div class="form-group">
                <label for="hrefInput">图片链接:</label>
                <input type="text" class="form-control" name="href" id="hrefInput" placeholder="请输入图片链接">
            </div>

            <div class="form-group">
              <label for="explainInput">图片顺序:</label>
              <input type="number" value="1" name="show_id" id="id_show_id">
            </div>
            <input type="submit" class="btn btn-danger" value="上传图片">
        </form>
    </div>
</div>
{% endblock %}
