{% extends "base.html" %}
{% block title %}
    <title>登陆</title>
{% endblock %}

{% block body %}
<p>{{err_msg}}</p>
<form class="form-inline" action="#" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="usernameInput">用户名: </label>
        <input type="text" name="username" class="form-control" id="usernameInput" placeholder="请输入用户名" />
    </div>
    <div class="form-group">
        <label for="passwordInput">密码: </label>
        <input type="password" name="password" class="form-control" id="passwordInput" placeholder="请输入密码" />
    </div>
    <input type="reset" value="重置" class="btn btn-default"/>
    <input type="submit" value="登陆" class="btn btn-default"/>
</form>
{% endblock %}
